*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none!important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    text-align: center
}

.widget-window {
    float: none;
    padding: 0;
    margin: 5em auto;
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    height:100%;
}

.service-board {
    float: none;
    padding: 0;
    margin: 5em auto;
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    height:100%;
}

.overlay {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    padding-top: 5em;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:1;
    color:white;
}

#good-service,
#service-closed,
#interruptions {
    font-size: 5em;
    display: inline-block;
    vertical-align: middle;
}

#lines {
    display: inline-block;
    padding: 0;
    border-radius: 6px;
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1)
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1)
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 100%;
}

#lines li {
    list-style-type: none;
    float: left;
    width: 100%;
}

#lines li:hover,
#lines li:active,
#lines li.active,
#lines li:focus,
#lines li:active:focus,
#lines li.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /*background-color: rgba(0, 0, 0, 0.3);*/
}

.top-li {
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

.bottom-li{
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}

.bakerloo:hover,
.central:hover, 
.circle:hover,
.district:hover .text {
    color: white;
}

.bakerloo .text {
    visibility: none;
}

.bakerloo {
    color: #fff;
    background: #ae6118
}

.central {
    color: #fff;
    background: #e41f1f
}

.circle {
    color: #113b92;
    background: #f8d42d
}

.district {
    color: #fff;
    background: #00a575
}

.hammersmithandcity {
    color: #113b92;
    background: #e899a8
}

.jubilee {
    color: #fff;
    background: #8f989e
}

.metropolitan {
    color: #fff;
    background: #893267
}

.northern {
    color: #fff;
    background: #000
}

.piccadilly {
    color: #fff;
    background: #0450a1
}

.victoria {
    color: #fff;
    background: #009fe0
}

.waterlooandcity {
    color: #113b92;
    background: #70c3ce;
}

.dlr {
    color: #fff;
    background: #00bbb4
}

.overground {
    color: #fff;
    background: #f86c00
}

.tflrail {
    color: #fff;
    background: #0019a8
}

.tram {
    color: #fff;
    background: #6c0
}