* {
     box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    text-align: center
}

ul {
    list-style-type: none;
    -moz-box-shadow: 1px 1px 4px #888;
    -webkit-box-shadow: 1px 1px 4px #888;
    box-shadow: 1px 1px 4px #ccc
}

a {
    color: #246cce;
    text-decoration: none
}

#lines li {
    float: left;
    width: 100%;
}

#service-board {
    float: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
    clear: both
}

.bakerloo {
    color: #fff;
    background: #ae6118
}

.central {
    color: #fff;
    background: #e41f1f
}

.circle {
    color: #113b92;
    background: #f8d42d
}

.district {
    color: #fff;
    background: #00a575
}

.hammersmithandcity {
    color: #113b92;
    background: #e899a8
}

.jubilee {
    color: #fff;
    background: #8f989e
}

.metropolitan {
    color: #fff;
    background: #893267
}

.northern {
    color: #fff;
    background: #000
}

.piccadilly {
    color: #fff;
    background: #0450a1
}

.victoria {
    color: #fff;
    background: #009fe0
}

.waterlooandcity {
    color: #113b92;
    background: #70c3ce
}

.dlr {
    color: #fff;
    background: #00bbb4
}

.overground {
    color: #fff;
    background: #f86c00
}

.tflrail {
    color: #fff;
    background: #0019a8
}

.tram {
    color: #fff;
    background: #6c0
}