a {
    color: #246cce;
    text-decoration: none
}

a:hover {
    text-decoration: underline!important;
    color: #113b92
}

ul {
    list-style-type: none
}

h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0
}

body {
    font-size: 70%
}

.bakerloo {
    color: #fff;
    background: #ae6118
}

.central {
    color: #fff;
    background: #e41f1f
}

.circle {
    color: #113b92;
    background: #f8d42d
}

.district {
    color: #fff;
    background: #00a575
}

.hammersmithandcity {
    color: #113b92;
    background: #e899a8
}

.jubilee {
    color: #fff;
    background: #8f989e
}

.metropolitan {
    color: #fff;
    background: #893267
}

.northern {
    color: #fff;
    background: #000
}

.piccadilly {
    color: #fff;
    background: #0450a1
}

.victoria {
    color: #fff;
    background: #009fe0
}

.waterlooandcity {
    color: #113b92;
    background: #70c3ce
}

.dlr {
    color: #fff;
    background: #00bbb4
}

.overground {
    color: #fff;
    background: #f86c00
}

.tflrail {
    color: #fff;
    background: #0019a8
}

h3,
h4 {
    padding: 0;
    margin: 0;
    font-size: 1em
}

#service-board {
    float: left;
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0 0 6px
}

#lines li {
    border-bottom: 1px solid #fff;
    float: left;
    padding: 0
}

#lines h3 {
    width: 87px;
    float: left;
    padding: 0 0 0 2px
}

#service-board #lines div.status h4 {
    width: 93px;
    padding-left: 2px;
    margin-right: 0!important
}

#service-board #lines div.status h4 a {
    color: #113b92
}

#service-board #lines div.status.problem h4 {
    background-color: #113b92!important
}

#service-board #lines div.problem h4 a {
    color: #fff
}

#lines div.status {
    background: #fff;
    color: #565656;
    float: left;
    padding-left: 2px
}

.bakerloo h3,
.bakerloo h3 a {
    color: #fff;
    background: #ae6118
}

.central h3,
.central h3 a {
    color: #fff;
    background: #e41f1f
}

.circle h3,
.circle h3 a {
    color: #113b92;
    background: #f8d42d
}

.district h3,
.district h3 a {
    color: #fff;
    background: #00a575
}

.hammersmithandcity h3,
.hammersmithandcity h3 a {
    color: #113b92;
    background: #e899a8
}

.jubilee h3,
.jubilee h3 a {
    color: #fff;
    background: #8f989e
}

.metropolitan h3,
.metropolitan h3 a {
    color: #fff;
    background: #893267
}

.northern h3,
.northern h3 a {
    color: #fff;
    background: #000
}

.piccadilly h3,
.piccadilly h3 a {
    color: #fff;
    background: #0450a1
}

.victoria h3,
.victoria h3 a {
    color: #fff;
    background: #009fe0
}

.waterlooandcity h3,
.waterlooandcity h3 a {
    color: #113b92;
    background: #70c3ce
}

.dlr h3,
.dlr h3 a {
    color: #fff;
    background: #00bbb4
}

.overground h3,
.overground h3 a {
    color: #fff;
    background: #f86c00
}

.tflrail h3,
.tflrail h3 a {
    color: #fff;
    background: #0019a8
}

.bakerloo h3 a:hover {
    color: #fff;
    background: #ae6118;
    text-decoration: underline
}

.central h3 a:hover {
    color: #fff;
    background: #e41f1f;
    text-decoration: underline
}

.circle h3 a:hover {
    color: #113b92;
    background: #f8d42d;
    text-decoration: underline
}

.district h3 a:hover {
    color: #fff;
    background: #00a575;
    text-decoration: underline
}

.hammersmithandcity h3 a:hover {
    color: #113b92;
    background: #e899a8;
    text-decoration: underline
}

.jubilee h3 a:hover {
    color: #fff;
    background: #8f989e;
    text-decoration: underline
}

.metropolitan h3 a:hover {
    color: #fff;
    background: #893267;
    text-decoration: underline
}

.northern h3 a:hover {
    color: #fff;
    background: #000;
    text-decoration: underline
}

.piccadilly h3 a:hover {
    color: #fff;
    background: #0450a1;
    text-decoration: underline
}

.victoria h3 a:hover {
    color: #fff;
    background: #009fe0;
    text-decoration: underline
}

.waterlooandcity h3 a:hover {
    color: #113b92;
    background: #70c3ce;
    text-decoration: underline
}

.dlr h3 a:hover {
    color: #fff;
    background: #00bbb4;
    text-decoration: underline
}

.overground h3 a:hover {
    color: #fff;
    background: #f86c00;
    text-decoration: underline
}

.tflrail h3 a:hover {
    color: #fff;
    background: #0019a8;
    text-decoration: underline
}

#header {
    color: #fff;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 26px;
    background: #113b92 url('https://tfl.gov.uk/tfl/syndication/widgets/images/roundel-header.gif') center left no-repeat;
    text-align: left;
    text-indent: -999em
}

.tabs {
    background: #fff url('https://tfl.gov.uk/tfl-global/images/tab-background.gif') left bottom repeat-x;
    padding: 0;
    padding-top: 6px;
    margin: 0;
    padding-left: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc
}

.tabs li {
    display: inline;
    margin: 0;
    padding: 0
}

.tabs li a {
    padding: 2px 4px 0 4px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-decoration: none;
    background: #fff url('https://tfl.gov.uk/tfl-global/images/tab-unselected.gif') left bottom repeat-x
}

.tabs li a:visited {
    color: #333
}

.tabs li a:hover {
    text-decoration: underline
}

.tabs li.selected a {
    background: #eee;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #eee
}

.tabs li.selected a:hover {
    text-decoration: underline;
    color: #333
}

html {
    background-color: #eee
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: #eee;
    text-align: center
}

h1 {
    font-size: 1em;
    margin: 0;
    padding: .2em 0
}

#service-board {
    float: none;
    width: 18.5em;
    margin: 0 auto;
    text-align: left;
    padding: 0
}

#service-board #lines {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    width: 18.5em
}

h2,
h2 a {
    font-size: 1.2em;
    color: #113b92
}

#lines h3 {
    width: 9em;
    padding: .1em 0 0 .2em
}

#service-board #lines div.status h4 {
    width: 9em
}

#lines div.status {
    width: 9.1em;
    color: #000;
    padding: .1em 0 .1em .1em;
    border-bottom: 1px solid #dbdbdb
}

p.update {
    margin-bottom: .3em
}

.service-board-tabs h3 {
    padding: 0 0 0 0;
    font-weight: normal;
    background: #eee
}

.service-board-tabs h3 a {
    padding-left: .6em;
    padding-right: .6em;
    background: #eee;
    border-top: 1px solid #eee;
    width: auto
}

.service-board-tabs h3 span {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    padding: 0 .2em 0 .2em;
    display: block;
    width: 19%;
    float: left;
    background: #fff;
    font-weight: bold
}

img {
    display: none
}

#service-board {
    position: relative
}

#service-board p.update {
    color: #606060;
    position: absolute;
    right: 7px;
    top: .7em;
    font-size: .9em
}

#service-board h2 {
    font-size: 1.25em;
    padding: .3em 0 .3em 0
}

#service-board #lines div h4 a {
    color: #113b92;
    font-weight: normal
}

#service-board #lines div.problem h4 a {
    color: #113b92;
    font-weight: bold
}

#service-board #lines div.status.problem h4 {
    background: none!important
}

#service-board {
    background: none;
    padding-bottom: 0
}

#lines {
    display: inline-block;
    background: #fff
}

#service-board .service-board-more {
    clear: both
}

#lines li:last-child {
    border-bottom: 0
}

#lines {
    border: 1px solid #ccc;
    border-bottom: 0;
    -moz-box-shadow: 1px 1px 4px #888;
    -webkit-box-shadow: 1px 1px 4px #888;
    box-shadow: 1px 1px 4px #ccc
}

p.service-board-more span {
    font-weight: 700;
    color: #373737
}